.global-title{
    text-align: center;

    h4{
        font-size: 36px;
        line-height: 46px;
        font-weight: 600;
        width: 450px;
        margin: 0 auto 20px;
    }

    p{
        width: 650px;
        margin: 0 auto 30px;
    }
}