.designed-info{
    padding:  0 150px 0 110px;
    h5{
        font-size: 36px;
        line-height: 46px;
        font-weight: 600;
        width: 400px;
        margin-bottom: 20px;
    }
    button{
        margin-top: 50px;
    }
}
